*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
      text-align: center;
      font-family: "Jaro", sans-serif;
      font-size: 40px;
      font-weight: 100;
      margin-top: 90px;
      text-transform: uppercase;
      color: rgb(204, 88, 3);

}

    input, button{
      font-family: "Rubik", sans-serif;
      font-size: 15px;
      margin-top: 20px;
      margin-left: 10px;
      padding: 15px;
      cursor: pointer;
      border-radius: 10px;
      border-color:   rgb(255, 149, 5);
      background-color: rgb(241, 218, 183);
    }

    body{
        background-color: rgb(255, 149, 5);
    


    }
    button{
        background-color: rgb(255, 201, 113);
    }

    ul{
        color:black;
        display: center;
        text-align: center;
        list-style: circle;
        margin: 20px;
        padding-top: 20px;
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        
    }

    .riscarTarefa{
        text-decoration: line-through;
    }